#include <windows.h>
#include <commctrl.h>
#include "resource.h"

IDD_CONFIG_DIALOG DIALOGEX 0, 0, 360, 220
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configure FFmpeg Bridge"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "Mode", IDC_STATIC, 10, 10, 160, 30
    AUTORADIOBUTTON "Auto", IDC_RADIO_AUTO, 20, 22, 40, 10, WS_GROUP
    AUTORADIOBUTTON "Custom", IDC_RADIO_CUSTOM, 80, 22, 50, 10

    GROUPBOX        "Location", IDC_STATIC, 180, 10, 170, 50
    AUTORADIOBUTTON "Ask", IDC_RADIO_LOC_ASK, 190, 22, 35, 10, WS_GROUP
    AUTORADIOBUTTON "Next to AVI", IDC_RADIO_LOC_NEXT, 230, 22, 55, 10
    AUTORADIOBUTTON "Folder", IDC_RADIO_LOC_FOLDER, 290, 22, 40, 10
    EDITTEXT        IDC_EDIT_LOC_PATH, 190, 38, 120, 14, ES_AUTOHSCROLL | WS_DISABLED
    PUSHBUTTON      "Browse", IDC_BTN_LOC_BROWSE, 315, 38, 30, 14, WS_DISABLED

    GROUPBOX        "Tweaks", IDC_STATIC, 180, 65, 170, 35
    AUTOCHECKBOX    "Enable TrackMania audio fixes", IDC_CHECK_TM_AUDIO_WORKAROUNDS, 188, 77, 155, 20, BS_MULTILINE | WS_TABSTOP

    GROUPBOX        "Audio", IDC_STATIC, 180, 100, 170, 50
    COMBOBOX        IDC_COMBO_AUDIO_ENCODER, 188, 113, 68, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_EDIT_AUDIO_ENC_CUSTOM, 188, 131, 68, 12, ES_AUTOHSCROLL | WS_DISABLED

    COMBOBOX        IDC_COMBO_AUDIO_QUAL_MODE, 262, 113, 82, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_EDIT_AUDIO_QUAL_VAL, 262, 131, 62, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_AUDIO_QUAL_VAL, "msctls_updown32", UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS, 0, 0, 0, 0

    GROUPBOX        "Encoder", IDC_STATIC, 10, 45, 75, 50
    COMBOBOX        IDC_COMBO_ENCODER, 15, 58, 65, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_EDIT_ENC_CUSTOM, 15, 76, 65, 12, ES_AUTOHSCROLL | WS_DISABLED // <-- Changed to EDITTEXT

    GROUPBOX        "Quality", IDC_STATIC, 95, 45, 75, 65
    COMBOBOX        IDC_COMBO_QUAL_MODE, 100, 58, 65, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    
    EDITTEXT        IDC_EDIT_QUAL_VAL1, 100, 75, 55, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_QUAL_VAL1, "msctls_updown32", UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS, 0, 0, 0, 0
    
    EDITTEXT        IDC_EDIT_QUAL_VAL2, 100, 92, 55, 12, ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "", IDC_SPIN_QUAL_VAL2, "msctls_updown32", UDS_AUTOBUDDY | UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS, 0, 0, 0, 0

    GROUPBOX        "Preset & Tune", IDC_STATIC, 10, 100, 75, 50
    COMBOBOX        IDC_COMBO_PRESET, 15, 113, 65, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_TUNE, 15, 131, 65, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    GROUPBOX        "Pixel Format", IDC_STATIC, 95, 115, 75, 35
    COMBOBOX        IDC_COMBO_PIXFMT, 100, 128, 65, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    GROUPBOX        "Extra args", IDC_STATIC, 10, 155, 160, 35
    EDITTEXT        IDC_EDIT_EXTRA_ARGS, 15, 168, 150, 14, ES_AUTOHSCROLL

    DEFPUSHBUTTON   "OK", IDOK, 245, 195, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 300, 195, 50, 14
END
